@import "tailwindcss";

.social-icon {
  @apply w-11 h-11
    rounded-full
    bg-gray-200
    flex items-center justify-center
    text-xl text-gray-700
    cursor-pointer
    hover:bg-green-600 hover:text-white
    transition-all duration-300;
}